<template name="advertEdit">
<div class="container">
	<div class="jumbotron">
		<form role="form" class="val">
			<div class="form-group">
				<label for="advertTitle">Название</label>
				<input type="text" class="form-control" id="advertTitle" value="{{title}}">
			</div>
			<div class="form-group">
				<label for="description">Краткое описание</label>
				<textarea class="form-control" rows="3" id="advertDescription" value="{{description}}" ></textarea>
			</div>
			<!-- Город, место аренды -->
			<div class="form-group">
				<label for="description">Город</label>
				<input class="form-control" rows="3" id="advertPosition" value="{{position}}" />
			</div>
			
			<div class="form-group">
				<label for="description">Тип арендуемой площади</label>
				<select class="selectpicker">
				  <option>Автомобиль</option>
				  <option>Здание</option>
				  <option>Биллборд</option>
				</select>
			</div>

			<div class="form-group">
				<!-- Start Date -->
				<label for="description">Начало аренды</label>
				<div class="input-group datetimepicker" id="datepicker1">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input class="set-due-date form-control" type="text"/>
				</div>
				<!-- End Date -->
				<label for="description">Окончание аренды</label>
				<div class="input-group datetimepicker" id="datepicker2">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input class="set-due-date form-control" type="text"/>
				</div>
			</div>
			<div class="form-group">
				<!-- Start Date -->
				<label for="description">Стоимость</label>
				<input type="number" min="0" class="form-control" rows="3" id="advertPrice" value="{{price}}"/>
			</div>
			<!-- <div class="form-group">
				<label for="exampleInputFile">Выберите файл</label>
				<input type="file" id="InputFile" class="myFileInput" >
				<output id="list"></output>
			</div> -->
			<button type="submit" class="btn btn-primary">Сохранить</button>
			<button type="button" class="btn btn-danger" >{{buttonArchive}}</button>
		</form>
	</div>
</div>
</template>