<template name="advertItem">
	<div class="container">
			<div class="content half" style="vertical-align:top; text-align:left">
				<div class="image">
					<img class="img-thumbnail" src="{{photoIdUrl}}" alt="" style="max-width:100%; margin-left: 10px">
					<div class="image_overlay{{imageArchive}}">
						<h2>Close</h2>
					</div>
				</div>
			</div>
			
			<div class="content half" style="vertical-align:top">
				<div class="text-left">
					{{#if isActiveRoute 'advertsList' }}
						<a href="{{pathFor 'advertItem'}}"><h2>{{title}}</h2></a>
					{{else}}
						<h2>{{title}}</h2>
					{{/if}}
					{{#if isNotActiveRoute 'useradvertsList'}}
						{{#if currentUser}}
							<input type="checkbox" {{checked}} name="checkboxG1" id="checkboxG1" class="css-checkbox" /><label for="checkboxG1" class="css-label">В избранное</label>
						{{/if}}
					{{/if}}
					
					<h3>Где:{{position}}</h3>
					<h3>Описание:</h3>
				
					<h4> {{description}} </h4>
					<h4>Категория:{{category}}</h4>
					<h4>С {{dateconvert start}}  до  {{dateconvert stop}}</h4>
					<h4></h4>
					<h4>Цена:{{price}} $</h4>
					{{#if isActiveRoute 'useradvertsList' }}
						{{#if advertOwner}}
							<a href="{{pathFor 'advertItem'}}/edit" class="btn btn-default">Редактировать</a>
						{{/if}}
					{{/if}}
				</div>
			</div>
	</div>
</template>