<template name="advertAdd">
<div class="container">
	<div class="jumbotron">
		<form role="form" class="val">
			<div class="form-group">
				<label for="advertTitle">Название</label>
				<input type="text" class="form-control" id="advertTitle" placeholder="Введите название Вашего объявления">
			</div>
			<div class="form-group">
				<label for="description">Краткое описание</label>
				<textarea class="form-control" rows="3" id="advertDescription" placeholder="Опишите арендуемое место" ></textarea>
			</div>
			<!-- Город, место аренды -->
			<div class="form-group">
				<label for="description">Город</label>
				<input class="form-control" rows="3" id="advertPosition" placeholder="Где располагается арендуемое место" />
			</div>
			
			<div class="form-group">
				<label for="description">Тип арендуемой площади</label>
				<select class="selectpicker">
					<option>Автомобиль</option>
					<option>Здание</option>
					<option>Биллборд</option>
				</select>
			</div>

			<div class="form-group">
				<!-- Start Date -->
				<label for="description">Начало аренды</label>
				<div class="input-group datetimepicker" id="datepicker1">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input class="set-due-date form-control" type="text"/>
				</div>
				<!-- End Date -->
				<label for="description">Окончание аренды</label>
				<div class="input-group datetimepicker" id="datepicker2">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input class="set-due-date form-control" type="text"/>
				</div>
			</div>
			<div class="form-group">
				<!-- Start Date -->
				<label for="description">Стоимость</label>
				<input type="number" min="0" class="form-control" rows="3" id="advertPrice" placeholder="Стоимость аренды на весь срок" />
			</div>
			<div class="form-group">
				<label for="exampleInputFile">Выберите файл</label>
				<input type="file" id="InputFile" class="myFileInput" >
				<output id="list"></output>
			</div>
			<button type="submit" class="btn btn-default">Добавить</button>
		</form>
	</div>
</div>
	<!-- Скрипты -->
	<script>
		  function handleFileSelect(evt) {
		    var files = evt.target.files; // FileList object
		    // Loop through the FileList and render image files as thumbnails.
		    for (var i = 0, f; f = files[i]; i++) {
		      // Only process image files.
		      if (!f.type.match('image.*')) {
		        continue;
		      }
		      var reader = new FileReader();
		      // Closure to capture the file information.
		      reader.onload = (function(theFile) {
		        return function(e) {
		          // Render thumbnail.
		          var span = document.createElement('span');
		          span.innerHTML = ['<img class="img-thumbnail" src="', e.target.result,
		                            '" title="', escape(theFile.name), '"/>'].join('');
		          document.getElementById('list').insertBefore(span, null);
		        };
		      })(f);
		      // Read in the image file as a data URL.
		      reader.readAsDataURL(f);
		    }
		  }
		  document.getElementById('InputFile').addEventListener('change', handleFileSelect, false);
		</script>
</template>



