<template name="index">
 	<div class="content">
		<div class="container" style="max-width:550px;margin-top:10rem;margin-bottom:10rem" >
			<h2 style="margin-bottom:5rem">Immense world of advertising place in your monitor</h2>
			<a href="{{pathFor 'advertsList'}}" class="btn btn-primary btn-lg">Watch ads</a>
		</div>
		<div class="colorpad dark-grey" style="padding-top:0.5rem;padding-bottom:0.5rem">
			<h2>Such different places for customers</h2>
		</div>

		<div class="colorpad light-grey">
			<div class="container"> 
				<div class="content half">
					<div class="text-left">
						<h2>Subway</h2>
						<h3>Every day in the world of 155 million people use the services of subway</h3>
					</div>
				</div>
				<div class="content half">
					<img src="../images/tube-ad.png" style="max-width:100%">
				</div>
			</div>
		</div>

		<div class="container"> 
			<div class="content half">
				<img src="../images/Office_Escalator.png" style="max-width:100%">
			</div>
			<div class="content half">
				<div class="text-right">
					<h2>Elevators</h2>
					<h3>They are used everywhere: houses, offices, meaghospitals,megamolls</h3>	
				</div>
			</div>
		</div>

		<div class="colorpad dark-grey" style="padding-top:0.5rem;padding-bottom:0.5rem">
			<h2>Unbelievable abilities in your promotion</h2>
		</div>

		<img src="../images/gorod_city_new_york_1920x1080.jpg" style="max-width:100%">

		<div class="colorpad dark-grey" style="padding-top:0.5rem;padding-bottom:0.5rem">
			<h2>Promo, where you can't imagine</h2>
		</div>

		<div class="container" style="padding-top:10rem;padding-bottom:10rem">
			<img src="../images/bus.png" style="max-width:100%">
		</div>
		
		<div class="colorpad dark-grey" style="padding-top:0.5rem;padding-bottom:0.5rem">
			<h2>Maximum efficient from your property</h2>
		</div>

		<img src="../images/ipad.png" style="max-width:100%">
	</div>
</template>

	<!--  -->