<template name="layout">
	<div class="colorpad">
		<!-- <div class="container" style="width:60%"> -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container" style="width:60%">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{pathFor 'index'}}">PAR</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav ">
						<li class="{{isActiveRoute 'index'}}"><a href="{{pathFor 'index'}}">Главная</a></li>
						<li class="{{isActiveRoute 'advertsList'}}"><a href="{{pathFor 'advertsList'}}">Предложения</a></li>
						<li class="{{isActiveRoute 'search'}}"><a href="{{pathFor 'search'}}">Поиск</a></li>
						<li><a href="#">{{>loginButtons}}</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right cl-effect-4">
						{{#if currentUser}}
						<li class="{{isActiveRoute 'advertAdd'}}"><a href="{{pathFor 'advertAdd'}}">Добавить</a></li>
						<li class="{{isActiveRoute 'advertAddSchema'}}"><a href="{{pathFor 'advertAddSchema'}}">Добавить2</a></li>
						<li class="{{isActiveRoute 'favourite'}}"><a href="{{pathFor 'favourite'}}">Избранное</a></li>
						<li class="{{isActiveRoute 'lk'}}"><a href="{{pathFor 'lk'}}">Личный кабинет</a></li>
						{{/if}}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	<!-- </div> -->
	</div>
	{{> yield}}
</template>