<template name='search'>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Поиск</h3>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="form-group">
						<label for="labelforpicker">Тип арендуемой площади</label>
						<select class="selectpicker">
							<option>Автомобиль</option>
							<option>Здание</option>
							<option>Биллборд</option>
						</select>
					</div>
					<div class="form-group">
						<!-- Start Date -->
						<label for="description">Начало аренды</label>
						<div class="input-group datetimepicker" id="datepicker1">
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							<input class="set-due-date form-control" type="text"/>
						</div>
						<!-- End Date -->
						<label for="description">Окончание аренды</label>
						<div class="input-group datetimepicker" id="datepicker2">
							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							<input class="set-due-date form-control" type="text"/>
						</div>
					</div>
					<div class="form-group">
						<label for="description">Стоимость размещения</label>
						<label for="description">от</label>
						<input type="number" min="0" class="form-control" rows="1" id="advertPriceMin" placeholder="Стоимость аренды на весь срок" />
						<label for="description">до</label>
						<input type="number" min="0" class="form-control" rows="1" id="advertPriceMax" placeholder="Стоимость аренды на весь срок" />



						<strong>Filters</strong>
					    <div class="btn-toolbar" role="toolbar">
					        <div class="btn-group">
					          <button type="button" class="btn btn-default fc-filter" data-fc-filter-field="category" data-fc-filter-value="auto">Автомобиль</button>
					          <button type="button" class="btn btn-default fc-filter" data-fc-filter-field="group" data-fc-filter-value="building">Здание</button>
					        </div>
					    </div>
					</div>
					<!-- <button type="submit" class="btn btn-default">Отправить</button> -->
				</form>
			</div>
		</div>
<table>
	
          {{#each fcResults}}
        <tr>
        
          <td>{{name}}</td>
          <td>{{group}}</td>
          <td>{{number}}</td>
          <td>{{random_number}}</td>
          <td>{{corporate_group.gender}}</td>
          <td>
            {{#each corporate_group.hobbies}}
              {{this}},
            {{/each}}
          </td>
        </tr>
        {{/each}}

</table>
		
        <!-- <div class="container">
			{{#each adverts}}
				<div class="jumbotron" style="padding: 0px">
					{{> advertItem}}
				</div>
			{{/each}}
		</div> -->
	</div>

</template>