<template name="top">
	<ul class="nav nav-tabs">
		<li class="{{isActiveRoute 'lk'}}"><a href="{{pathFor 'lk'}}">Профиль</a></li>
		<li  class="{{isActiveRoute 'useradvertsList'}}"><a href="{{pathFor 'useradvertsList'}}">Мои объявления</a></li>
		<!-- <li><a href="#">Сообщение</a></li> -->
	</ul>
</template>