<template name="advertAddSchema">
	<div class="container">
		<div class="jumbotron">
			{{#autoForm collection="Adverts" id="addAdverts" type="insert"}}
				<fieldset>
					<legend>Добавить объявление</legend>
					{{> afQuickField name='title' placeholder="Введите название Вашего объявления"}}
					{{> afQuickField name='description' rows=3 placeholder="Опишите кратко арендуемое место"}}
					{{> afQuickField name='category' options=categories firstOption=false}}
					{{> afQuickField name='position' placeholder="Введите название Вашего объявления"}}
					{{> afQuickField name='start' }}
					{{> afQuickField name='price' placeholder="Стоимость аренды"}}
					<button type="submit" class="btn btn-primary">Добавить объявление</button>
				</fieldset>
			{{/autoForm}}
		</div>
	</div>
</template>



