@font-face {
  font-family: "MyriadProRegular";
  src: url("../_fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../_fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../_fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../_fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("../_fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../_fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("../_fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
  url("../_fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("../_fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../_fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
  url("../_fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
  url("../_fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../_fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../_fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
  url("../_fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
  url("../_fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../_fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("../_fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../_fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
  url("../_fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../_fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("../_fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../_fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
  url("../_fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'MyriadProLight';
  src:
  url('../_fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../_fonts/MyriadPro-Light.otf')  format('opentype'),
  url('../_fonts/MyriadPro-Light.woff') format('woff'),
  url('../_fonts/MyriadPro-Light.ttf')  format('truetype'),
  url('../_fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src:
  url('../_fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
  url('../_fonts/HelveticaNeue-Thin.otf')  format('opentype'),
  url('../_fonts/HelveticaNeue-Thin.woff') format('woff'),
  url('../_fonts/HelveticaNeue-Thin.ttf')  format('truetype'),
  url('../_fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
