<head>
	<title>PAR-PersonalAreaRent</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="../style/bootstrap.css">
	<style>
	    .thumb {
		    height: 75px;
		    border: 1px solid #000;
		    margin: 10px 5px 0 0;
	    }
	</style>
	<script src="../js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="../style/component.css">
	<!-- <link rel="stylesheet" type="text/css" href="../style/bootstrap.css"> -->
</head>